:root {
  --gray: #dcd9d9;
  --gray-hover: #9d9c9c;
  --black: #000;
  --white: #fff;
  --transition: 0.4s ease-in-out;
  --ff: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

* {
  font-family: var(--ff);
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  min-height: 100dvh;
  background: var(--gray);
}

fieldset {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 3rem;
  border-radius: 16px;
}

input {
  padding: 0.5rem 1rem;
  border: 2px solid var(--gray);
  border-radius: 30px;
  font-size: 1.2rem;
  outline: none;
  transition: var(--transition);
}

input:hover {
  border: 2px solid var(--gray-hover);
}

input:focus {
  border: 2px solid var(--black);
}

.button {
  padding: 0.4rem 1.4rem;
  font-size: 1.2rem;
  border: 0;
  border-radius: 30px;
  text-decoration: none;
  color: var(--black);
  background: var(--white);
  cursor: pointer;
  transition: var(--transition);
}

.button:hover {
  transform: rotate(2.5deg) scale(1.2);
}

.password-toggle {
  position: relative;
  margin-bottom: 1rem;
}

.icon {
  position: absolute;
  right: -2.5rem;
  bottom: 0.5rem;
  width: min(30px, 30px);
  height: min(30px, 30px);
  cursor: pointer;
  background: url(show-password.svg);
}

.toggle-password {
  display: none;
}

.toggle-password:checked + .icon {
  background: url(hide-password.svg);
}

.error {
  display: block;
  margin: 0;
  margin-bottom: 1rem;
  color: red;
  font-size: 1rem;
  font-weight: bold;
  animation: fadeIn var(--transition) forwards;
}

.error:empty {
  display: none;
}
