@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url(./basic.css);
@import url(./animations.css);

.container {
  display: flex;
  flex-direction: column;
  padding-top: 4rem;
  gap: 1.2rem;
  background: var(--gray);
}

.title {
  text-align: center;
  font-size: 3rem;
}

.emojis {
  font-size: 1.6rem;
}

.form {
  position: relative;
  display: flex;
  width: fit-content;
  max-width: 448px;
}

/* input */
.task_name {
  padding: 1rem;
  padding-right: 14rem;
  max-width: 410px;
  border: 2px solid var(--white);
  border-radius: 30px;
  outline: none;
  font-size: 1rem;
  background: var(--white);
  transition: var(--transition);
}

.task_name:hover {
  border: 2px solid var(--primary-darker);
}

.task_name:focus {
  border: 2px solid var(--primary);
}

/* btn */
.add_task {
  position: absolute;
  height: 100%;
  right: 0;
  padding: 1rem 2rem;
  font-size: 1rem;
  color: var(--white);
  border: none;
  border-radius: 30px;
  background: var(--primary);
  cursor: pointer;
  transition: var(--transition);
}

.add_task:hover {
  background: var(--primary-darker);
}

.tasks {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  height: 20rem;
}

.task {
  position: relative;
  display: flex;
  align-items: center;
  max-width: 448px;
  border-radius: 30px;
  scale: 1;
  cursor: pointer;
  background: var(--primary);
  transition: var(--transition);
  animation: fadeIn 0.4s forwards;

  * {
    color: var(--white);
  }

  &:hover {
    transform: scale(1.04);
  }

  .checkmark {
    margin-inline: 1rem;
  }

  .task_text {
    flex-grow: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  /* todo: on hover change img src/bg */
  .delete-container {
    padding: 1rem;
    margin-left: 1rem;
    visibility: hidden;
    opacity: 0;
    border: 3px solid var(--primary-darker);
    border-radius: 30px;
    background: var(--primary-darker);
    transition: var(--transition);

    &:hover {
      border: 3px solid var(--error);
    }
  }

  &:hover .delete-container {
    visibility: visible;
    opacity: 1;
  }

  .delete {
    pointer-events: none;
  }
}

.checkmark {
  width: 28px;
  height: 28px;
}
